$theme-color: #101b2d;
$sub-heading-color: #d8d8d8;

$intro-title-color: #ffffea;
$sub-intro-color: #b0b0b0;

$key: #fa238a;
$value: #16f4a4;
$comma: #d8d8d8;

$nav-item-01-color: #00cecb;
$nav-item-00-color: $sub-heading-color;

$line-color: #b0b0b0;
