@import '../styles/colors';
@import '../styles/fonts';

.navigation {
	background-color: $theme-color;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.096);
	padding-top: 5px;
	padding-bottom: 10px;

	position: fixed;
	width: 1300px;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: 100;
	border-top: 0;

	.nav_item_00,
	.nav_item_01 {
		font-family: $theme-font;
		font-size: 1em;
	}

	.nav_item_01 {
		color: $nav-item-01-color;
	}

	.nav_item_00 {
		color: $nav-item-00-color;
	}

	.nav_item_p0 {
		width: 20%;
		display: flex;
		justify-content: flex-start;
		height: 90px;
	}

	.nav_item_p1 {
		width: 60%;
		.nav_item_p11 {
			list-style: none;
			display: flex;
			justify-content: space-around;
		}
	}
}

.social_links {
	// border: 1px solid white;
	position: fixed;
	left: 10px;
	.social_line {
		border: 1px solid $value;
		height: 400px;
		width: 1px;
		margin: auto;
	}

	.social_icons {
		.social_link_wrapper {
			// border: 1px solid white;
			text-align: center;
			margin-top: 18px;
			margin-bottom: 18px;
		}
	}
}

.email_sideline {
	// border: 1px solid white;
	position: fixed;
	bottom: 0;
	right: -50px;
	.email_content {
		// border: 1px solid green;
		transform: rotate(90deg) translateX(-170px);
		a {
			color: $sub-heading-color;
			font-family: $theme-font;
			font-size: 0.8em;
			letter-spacing: 2px;
			font-weight: 300;
		}
	}
	.email_line {
		margin: auto;
		height: 200px;
		width: 1px;
		border: 1px solid $sub-heading-color;
	}
}

.home {
	margin: auto;
	padding-top: 150px;
	width: 1300px;

	.main_section {
		position: relative;
		.first_part,
		.second_part,
		.third_part {
			padding-left: 40px;
		}

		.first_part {
			// border: 1px solid white;
			margin-top: 40px;
			h3 {
				color: $sub-heading-color;
				font-family: $theme-font;
				font-weight: 300;
				// font-size: 27px;
				font-size: 1.4em;
			}
		}

		.second_part {
			margin-top: 80px;
			h1,
			h3 {
				line-height: 5px;
			}

			h1 {
				font-family: $intro-font;
				font-weight: 400;
				font-size: 2.7em;
				color: $intro-title-color;
			}

			h3 {
				font-family: $theme-font;
				font-weight: 300;
				font-size: 1.4em;
				color: $sub-intro-color;
			}
		}

		.third_part {
			margin-top: 80px;
			height: 250px;

			.third_part_typing {
				padding-left: 170px;
				color: $value;
			}

			h3 {
				color: $sub-heading-color;
				font-size: 1.4em;
				font-weight: 300;
				font-family: $theme-font;
			}
		}

		.my_pic {
			position: absolute;
			top: 0;
			right: 80px;
		}
	}
	.navigation_keys {
		margin-top: 30px;
		h3 {
			font-style: italic;
			text-align: center;
			font-family: $theme-font;
			font-weight: 300;
			font-size: 1em;
			color: $sub-heading-color;
		}
	}

	@mixin section_head_style {
		font-family: $theme-font;
		font-weight: 300;
		font-size: 1.4em;
		color: $sub-heading-color;
		text-align: center;
	}

	.projects_section {
		// border: 1px solid white;

		.section_head {
			@include section_head_style();
		}
	}

	.blogs_section {
		margin-top: 50px;
		margin-bottom: 150px;
		.section_head {
			@include section_head_style();
		}
	}

	@mixin paragraph_style {
		font-family: $theme-font;
		font-size: 1em;
		font-weight: 300;
		line-height: 1.7em;
		color: $sub-intro-color;
	}

	.about_me_section {
		// border: 1px solid white;
		display: flex;
		justify-content: space-around;

		.about_me_wrapper {
			// border: 1px solid blue;
			width: 50%;
			p {
				@include paragraph_style();
			}
		}

		.my_pic_dyu {
			// border: 1px solid yellow;
			width: 30%;
		}
	}

	.contact_me_section {
		.section_head {
			@include section_head_style();
		}

		p {
			@include paragraph_style();
			width: 400px;
			text-align: center;
			margin: auto;
		}

		.contact_button {
			width: fit-content;
			margin: auto;
			margin-top: 120px;
			margin-bottom: 120px;

			button {
				cursor: pointer;
				border: 0;
				width: 500px;
				padding-bottom: 12px;
				padding-top: 12px;
				background-color: transparent;
				border: 1px solid $value;

				font-family: $theme-font;
				font-weight: 300;
				font-size: 1.4em;
				color: $value;
				transition: 0.4s all ease;

				&:hover {
					background-color: #16f4a32d;
				}
			}
		}
	}

	.footer_section {
		margin-bottom: 50px;
		.footer_tech_name,
		.footer_content {
			h3 {
				font-family: $theme-font;
				font-size: 1em;
				font-weight: 300;
				text-align: center;
				color: $sub-heading-color;
			}
		}

		.footer_tech_name {
			display: flex;
			width: 300px;
			margin: auto;
			align-items: center;
			justify-content: space-around;
		}
	}
}
